<footer class="footer">
    <nav>
        <ul>
            <li><%= link_to "Privay Policy" , "#" %></li>
             <li><%= link_to "Contact" , "#" %></li>
              <li><%= link_to "Sitemap" , "#" %></li>
        </ul>
    </nav>
</footer>